<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<link href="../../static/styles/styles.css" rel="stylesheet" />
</head>

<body>
	<div th:fragment="customer-menu" class="nav">
		<a href="/web/products">Products</a>&nbsp; - &nbsp;
		<a href="/web/categories">Categories</a>&nbsp; - &nbsp;
		<a href="/web/cart/mycart">Shopping cart</a>&nbsp; - &nbsp;
		<a href="/web/login">Login</a>&nbsp;/&nbsp;
		<a href="/web/register">Register</a>
		
	</div>
	<div th:fragment="admin-menu" class="nav">
		<a href="/admin/web/orders/new">New orders</a>&nbsp;&nbsp; - &nbsp;
		<a href="/admin/web/orders/completed">Completed orders</a>&nbsp; - &nbsp;
		<a href="/admin/web/orders/all">All orders</a>&nbsp; - &nbsp;
		<a href="/admin/web/products/create">Create product</a>&nbsp; - &nbsp;
		<a href="/admin/web/products">Products</a>
	</div>
	<div th:fragment="footer" class="footer">
		<p align="center">Web shop created by Mikael Sondell and Charlotte Englander</p>
	</div>
	<div th:fragment="search-bar" class="search-bar">
		<form action="#" th:action="@{/web/search}" method="post">
			<label>Search by product name:</label>
			<input name="searchstring" type="text" />
			<input type="submit" value="Search" />
		</form>
	</div>
	
	<!-- <div th:fragment="categories">
 		<p th:each="cat : ${categories}">
			<a th:href="'/web/category/' + ${cat.getId()}" th:text="${cat.getName()}"></a>
		</p>
	</div> -->

</body>
</html>